/* Basic setup */
.section_experience {
  margin: 13rem auto 5rem auto;
  display: flex;
  flex-direction: column;
  width: 95%;
  justify-content: center;
  align-items: center;
  user-select: none;
  min-height: 100vh;
}

.timeline {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: #45a29e; /* Line color */
  transform: translateX(-50%);
}

.timeline-item {
  position: relative;
  width: 45%;
  margin-bottom: 2em;
}

.circle {
  position: absolute;
  top: 0.3em;
  width: 14px;
  height: 14px;
  border: 2px solid #45a29e; /* Outline color */
  border-radius: 50%;
  background-color: #0b0c10;
  z-index: 1;
}

/* Left-aligned items (odd) */
.timeline-item:nth-child(odd) {
  left: 5%;
  text-align: right;
}

.timeline-item:nth-child(odd) .circle {
  right: -0.57em;
}

.timeline-item:nth-child(odd) .content {
  padding-right: 2em;
}

/* Right-aligned items (even) */
.timeline-item:nth-child(even) {
  left: 50%;
  text-align: left;
}

.timeline-item:nth-child(even) .circle {
  left: -0.56em;
}

.timeline-item:nth-child(even) .content {
  padding-left: 2em;
}

/* Content styling */
.timeline-item .content h3 {
  font-size: 1.2em;
  color: #333;
  margin: 0;
}

.timeline-item .content p {
  margin: 0.5em 0;
  color: #666;
}

/* Mobile view */
@media (max-width: 768px) {
  .timeline {
    width: 100%; /* Full width on mobile */
    margin: 0;
  }

  .timeline::before {
    left: 2rem; /* Move the line to the left for mobile */
    transform: none;
  }

  .timeline-item {
    width: 100%;
    left: 0;
    text-align: left;
    padding-left: 2em; /* Add space on the left for content */
  }

  .timeline-item .circle {
    left: 1.5938em; /* Align circles on the left */
  }

  .timeline-item .content {
    padding-left: 2em;
  }

  /* Left-aligned items (odd) */
  .timeline-item:nth-child(odd) {
    left: 0;
    text-align: left;
  }

  .timeline-item:nth-child(odd) .circle {
    left: 1.5rem;
  }

  .timeline-item:nth-child(odd) .content {
    padding-right: 2em;
  }

  /* Right-aligned items (even) */
  .timeline-item:nth-child(even) {
    left: 0;
    text-align: left;
  }

  .timeline-item:nth-child(even) .circle {
    left: 1.5em;
  }

  .timeline-item:nth-child(even) .content {
    padding-right: 2em;
  }
}

@media (prefers-color-scheme: light) {
  .circle {
    border: 1px solid rgb(21, 255, 0);
    background-color: #f9f9f9;
  }
}
