.footer {
  background-color: transparent;
  color: #66fcf1;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  font-weight: 700;
  font-style: normal;
  padding-bottom: 3rem;
  user-select: none;
}

@media (prefers-color-scheme: light) {
  .footer {
    color: #0b0c10;
  }
}
