.footer {
  background-color: var(--body_bg-color);
  color: var(--primary-color);
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  font-weight: 700;
  font-style: normal;
  padding-bottom: 3rem;
}
