.footer {
  background-color: transparent;
  color: #45a29e;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  font-weight: 700;
  font-style: normal;
  padding-bottom: 3rem;
  user-select: none;
}
