.github-skill_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  z-index: 99999;
  border: 1px solid var(--accent);
}

.github-skill_container::after {
  position: absolute;
  z-index: -1;
  content: "";
  inset: -3px;
  border-radius: inherit;
  background: conic-gradient(var(--accent) var(--fill), transparent var(--fill));
  transition: --fill 0.6s ease-in-out;
}

.the_github-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  aspect-ratio: 1;
  font-size: 1.5rem;
  background-color: var(--surface);
  border-radius: 50%;
  transition: color 0.5s ease-in-out;
}

.github_desk {
  position: absolute;
  z-index: 99999;
  top: -148%;
  right: 108.5%;
  padding: 1rem;
  border: 1px solid;
  border-radius: 5px;
  border-color: var(--text-muted);
  will-change: opacity;
  opacity: 0;
  transition: opacity 0.3s;
  color: var(--text-muted);
  cursor: initial;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

.github-skill_container:hover ~ div.github_desk {
  opacity: 1;
}

.github-skill_container:hover::after {
  --fill: 100%;
  background: conic-gradient(var(--accent) var(--fill), transparent var(--fill));
}

.the_github-link > svg path {
  fill: var(--accent);
}

.the_github-link:hover > svg path {
  filter: drop-shadow(0 0 2em var(--focus-color));
  fill: var(--accent-strong);
  transition: all 0.6s;
  stroke: var(--accent-strong);
}

@media screen and (max-width: 768px) {
  .github_desk {
    display: none;
  }
}
