.Typewriter {
  width: 100%;
  height: 100%;
  color: #fff;
  letter-spacing: 0.15em;
}

.typewriterText_div {
  width: 30rem;
  height: 30rem;
  text-align: left;
}

.Typewriter__wrapper {
  color: #fff;
}

.whoAmI {
  color: #f78cee;
}

.dm_const {
  color: #d1bd06;
}

.console_log {
  color: #6ae651;
}

@media (prefers-color-scheme: light) {
  .Typewriter {
    color: #000;
  }

  .Typewriter__wrapper {
    color: #000;
  }

  .whoAmI {
    color: #9e1493;
  }

  .dm_const {
    color: #ffe922;
  }

  .console_log {
    color: #63ff47;
  }
}

@media screen and (max-width: 768px) {
  .typewriterText_div {
    width: 22rem;
    height: 37rem;
    text-align: left;
  }
}
