.mobile_nav_wrapper {
  position: relative;
}

.mobile_nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  background: #0b0c10;
  height: 100vh;
  user-select: none;
  z-index: 1000;
  left: 0;
  overflow: hidden;
  gap: 2rem;
}

.mobile_menu circle,
.mobile_menu path {
  stroke: #45a29e;
}

.nav__switch {
  display: none;
}

.mobile_link_wrapper {
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 7%;
  border: 1px solid;
  padding: 0.2rem 1rem;
}

.mobile_close_button {
  position: absolute;
  top: 1.5em;
  right: 2.3em;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

@media (prefers-color-scheme: light) {
  .mobile_nav {
    background: #3ab795;
    color: #a0e8af;
  }

  .mobile_menu circle,
  .mobile_menu path {
    stroke: #a0e8af;
  }
}
