.section_projects {
  margin: 0 auto 5rem auto;
  display: flex;
  flex-direction: column;
  width: 95%;
  justify-content: center;
  align-items: center;
  user-select: none;
  min-height: 100vh;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  user-select: none;
}

.card {
  align-items: center;
  background: #1f2833;
  border-radius: 12px;
  overflow: hidden;
  max-width: 445px;
  will-change: transform;
  transition: transform 0.3s;
  height: 37rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 3rem;
}

.card:hover {
  transform: scale(1.02);
}

.card-image_wrapper {
  height: 50%;
}

.card img {
  width: 100%;
  object-fit: contain;
}

.card-content {
  padding: 20px;
  height: 50%;
}

.card-title {
  gap: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-description {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 15px;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-buttons a {
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.card-buttons:hover svg path {
  fill: #66fcf1;
}

.card-buttons svg path {
  fill: #45a29e;
}

.projects_list_p {
  margin-bottom: 3rem;
  color: #c5c6c7;
}

.card_title_wrapper {
  height: 7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

img.card-badge {
  height: 1rem;
  width: auto;
}

h2.card-title {
  line-height: 1;
  height: 3rem;
}

@media screen and (max-width: 768px) {
  .section_projects {
    margin: -181px auto 5rem auto;
  }
  .card {
    min-height: 37rem;
    justify-content: space-between;
  }

  .card:hover {
    transform: none;
  }

  .card-content {
    padding: 20px;
    height: 34%;
  }

  .card_title_wrapper {
    height: 2rem;
  }
}
