.section_skills {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  user-select: none;
}

.skills_container {
  max-width: 70rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  /* margin-top: 20px; */
  margin: 0 auto;
}

.skillsSet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  width: 100px;
  height: 100px;
  border: 1px solid #1f2833;
  border-radius: 10px;
  background-color: #1f2833;
  color: #c5c6c7;
  text-align: center;
  transition: all 0.3s ease;
  font-size: small;
}

.skill p {
  margin: 0;
}

@media (prefers-color-scheme: light) {
  .skill {
    border: 1px solid #86baa1;
    background-color: #86baa1;
    color: #1f2833;
  }

  .h2_skills {
    color: #ffcf56;
  }
}

@media screen and (max-width: 768px) {
  .skillsSet {
    flex-direction: column;
  }
}
