.section_skill_cloud {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  user-select: none;
  position: relative;
}

.skill_cloud_title {
  position: absolute;
}

#skill_cloud_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  #skill_cloud_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skill_cloud_title {
    position: absolute;
    top: 103px;
  }
}
