@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@property --fill {
  syntax: "<percentage>";
  inherits: true;
  initial-value: 0%;
}

:root {
  font-family: Roboto Mono, monospace;
  line-height: 1.5;
  font-weight: 400;

  overflow-x: hidden;

  color-scheme: light dark;
  color: #66fcf1;
  background-color: #0b0c10;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #45a29e;
  text-decoration: inherit;
  will-change: filter;
}
a:hover {
  color: #66fcf1;
  filter: drop-shadow(0 0 0.5em #45a29e);
}

a:active {
  color: #66fcf1;
  transform: scale(0.95);
}

a:hover path {
  stroke: #66fcf1;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h2 {
  line-height: 5;
}

.brackets {
  color: #c5c6c7;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #edead0;
    background-color: #3ab795;
  }
  a {
    color: #edead0;
  }
  a:hover {
    color: #ffcf56;
  }

  a:hover path {
    stroke: #ffcf56;
  }

  .brackets {
    color: #edead0;
  }

  button:hover {
    border-color: #ffcf56;
  }
}
